@*@{
        Layout = null;
    }*@

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Game Trader</title>
    @Styles.Render("~/Content/materialize/css/materialize.css")

</head>
<body>
    <header>
        <div class="intro teal lighten-1z-depth-1">
            <img src="img/game.png">
        </div>
        <nav class="top-nav">
            <div class="container">
                <div class="nav-wrapper">
                    @Html.ActionLink("Game Trader", "Index", "Home", new { area = "" }, new { @class = "brand-logo" })   
                    <a href="#" data-activates="mobile-thing" class="button-collapse"><i class="material-icons">menu</i></a>              
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Buy", "BuySwap", "Home")</li>
                        <li><a href="LOLadmin.php">Admin</a></li>
                        <li>@Html.ActionLink("Login", "Login", "Account")</li>
                        <li>@Html.ActionLink("Register", "Register", "Account")</li>
                        <li>@Html.ActionLink("SellSwap", "SellSwap", "Home")</li>
                    </ul>
                    <ul class="side-nav" id="mobile-thing">
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Buy", "BuySwap", "Home")</li>
                        <li><a href="LOLadmin.php">Admin</a></li>
                        <li>@Html.ActionLink("Login", "Login", "Account")</li>
                        <li>@Html.ActionLink("Register", "Register", "Account")</li>
                        <li>@Html.ActionLink("SellSwap", "SellSwap", "Home")</li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div>
        @RenderBody()
    </div>

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col s12 m4 12">
                    <h5 class="white-test">Footer content</h5>
                    <p class="grey-text text-lighten-4">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna ast laborum.
                    </p>
                </div>

                <div class="col s12 m4 18">
                    <img src="img/Gamaderlogo.jpg" alt="GameTrader Logo">
                    <h5 class="teal-text">Game Trader</h5>
                    <ul>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Email</a></li>
                        <li><a href="#">Instagram</a></li>
                    </ul>
                </div>

                <div class="col s12 m4 12 offset-8">
                    <h5 class="white-text">Services</h5>
                    <ul>
                        <li><a href="BuySellSwap.php">Buy</a></li>
                        <li><a href="BuySellSwap.php">Sell</a></li>
                        <li><a href="BuySellSwap.php">Swap</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <p> &copy; Nour Alomary @DateTime.Now.Year - All rights reserved</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/Scripts/jquery-2.1.1.min.js")
    @Scripts.Render("~/Scripts/materialize/materialize.min.js")
</body>
</html>
