@model IEnumerable<GameTrader.Models.VisitorStatistic>

@{
    ViewBag.Title = "ViewVisitorStats";
}
@*<main class="container">*@
    <h5 class="center-align teal-text">Site Visitor Statistics</h5>
    <div class="row">
        <div class=" col m12" style="width:500px;">
            <table class="table responsive-table hoverable">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IPAddress)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AlternateIPAddress)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AreaAccessed)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Timestamp)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Referer)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Browser)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ScreenResolutionHeight)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ScreenResolutionWidth)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
            {
                    <tr style="word-wrap: break-word">
                        <td >
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IPAddress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AlternateIPAddress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AreaAccessed)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Timestamp)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Referer)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Browser)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ScreenResolutionHeight)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ScreenResolutionWidth)
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
@*</main>*@